<%- layout("/layouts/boilerplate.ejs") %>
<div id="wrapperSideAndShow">
  <div class="sidebar-wrap">
    <div id="sidebar" class="close">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/api/auth/register">Register</a></li>
        <li><a href="/api/auth/login">Login</a></li>
        <li><a href="/api/tasks/<%= userId %>">All tasks</a></li>
        <li>Dashboard</li>
      </ul>
    </div>
  </div>
  <div id="showtasks">
    <button id="sidebar-cross"></button>
    <div id="insideShow" >
      <h2>All Tasks</h2>
      <div style="display: flex; gap: 4px">
        <form action="/api/auth/login" method="get">
          <button class="bttn">Logout</button>
        </form>
        <form action="/api/tasks/setTask/<%= userId %>" method="get">
          <button class="bttn">Add a new task</button>
        </form>
      </div>
      <div class="accordion" id="taskAccordion" >
        <% tasks.forEach((task, index) => { %>
        <div
          class="accordion-item"
          onclick="handleAccordionContent('<%=index%>')"
          id="item-<%= index %>"
        >
          <div class="accordion-header">
            <p><%= index %> &nbsp; <span><%= task.task %></span></p>
            <div style="display: flex; gap: 10px">
              <form method="post" action="/api/tasks/<%= task._id %>/doneTask">
                <button style="border: none;" id="doneTaskbtn">
                  <i
                    class="fa-solid fa-circle-check"
                    style="font-size: 20px"
                  ></i>
                </button>
              </form>
              <form
                action="/api/tasks/deleteTask/<%= task._id %>?_method=DELETE"
                method="post"
              >
                <button id="deletebtn">
                  <i class="fa-solid fa-trash" style="font-size: 20px"></i>
                </button>
              </form>
              <span class="badge text-bg-success" id="doneBagde">Success</span>
            </div>
          </div>
          <div>
            <div class="accordion-content" id="content-<%= index %>">
              <strong>Task Description:</strong> <%= task.description %><br />
              <strong>Task Due date:</strong> <%= new Date(task.DOE).toDateString() %><br />
              <strong>Task is</strong> <%= task.natureOfTask %><br />
              <strong>Task status:</strong><%= task.status %><br />
              <a
                href="/api/tasks/updateTask/<%= task._id %>"
                style="text-decoration: none"
                >Edit Task</a
              >
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center">
      <%- include("taskStatus.ejs") %> <%- include("completed.ejs") %>
    </div>
  </div>

  <script>
    const sidebarCrossBtn = document.getElementById("sidebar-cross");
    sidebarCrossBtn.addEventListener("click", () => {
      const divp = document.getElementById("sidebar");
      if (divp.classList.contains("open")) {
        divp.classList.remove("open");
        divp.classList.add("close");
      } else {
        divp.classList.remove("close");
        divp.classList.add("open");
      }
    });

    function handleAccordionContent(index) {
      const item = document.getElementById(`item-${index}`);
      item.classList.toggle("active");
    }
    const doneBagde=document.getElementById("doneBagde");
    const doneTaskbtn=document.getElementById("doneTaskbtn");
    doneTaskbtn.addEventListener("click",()=>{
      doneBagde.classList.add("active");
    })
    // console.log(doneBagde)
  </script>
</div>
